.lineChart {
  z-index: 9;
  width: calc(65% - 35px) !important;
  background: white;
  margin-left: 35px;
  padding: 15px;
  border: 1px solid rgba(46, 147, 239, 0.3);
  border-radius: 25px;
  position: relative;

  .chartTitle {
    color: #11263c;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.91px;
    letter-spacing: 0px;
    text-align: left;
    padding: 8px;
  }

  .chartSubtitle {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
  }

  .chartTitle, .chartSubtitle {
    color: black !important;
  }

  svg {
    overflow: visible !important;
  }

  .mainLine {
    filter: drop-shadow(0px -3px 3px rgba(97, 218, 251, 0.7)) !important;
  }

  :global {
    .recharts-cartesian-grid-horizontal line,
    .recharts-cartesian-grid-vertical line {
      stroke-dasharray: 5 5;
      stroke: #B0B0B0;
    }

    .recharts-tooltip-wrapper {
      .recharts-default-tooltip {
        border: none !important;
        border-radius: 8px !important;
        padding: 8px !important;
      }
    }
  }

  .select {
    position: absolute;
    top: 10px;
    right: 20px;
    margin: 0;
  }
}

@media (max-width: 575.98px) {
  .lineChart {
    max-width: 100%;
    padding: 15px;

    .chartTitle {
      font-size: 16px;
    }

    .chartSubtitle {
      font-size: 12px;
    }
  }
}