@media (max-width: 575.98px) {
  .mainLogin {
    background: url("../../../public/images/loginBgSm.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    .mainLoginHeader {
      padding-left: 20px;
    }
    .mainLoginContent {
      .mainLoginForm {
        width: 100%;
        justify-content: center;
        form {
          padding: 20px 15px 15px;
          width: 90%;
          .prevBtn {
            top: 20px;
            left: 15px;
          }
          h1 {
            font-size: 18px;
            margin-bottom: 20px;
          }
          h2 {
            margin-bottom: 30px !important;
          }
          .inputStyle {
            background: rgba(46, 147, 239, 0.3);
            border-radius: 14px;
            padding: 2px;
            overflow: hidden;
            margin-bottom: 15px;
            input {
              padding: 12px 20px;
              border-radius: 12px;
            }
          }
          .buttonStyle,
          .buttonStyleToo {
            button,
            div {
              padding: 12px !important;
              span {
                font-size: 16px !important;
              }
            }
          }
        }
      }
      .mainLoginImage {
        display: none;
      }
    }
    .mainLoginFooter {
      display: flex;
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
      p {
        width: 90%;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .mainLogin {
    background: url("../../../public/images/loginBgSm.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    .mainLoginHeader {
      padding-left: 30px;
    }
    .mainLoginContent {
      .mainLoginForm {
        width: 100%;
        justify-content: center;
        form {
          padding: 20px 15px 15px;
          width: 85%;
          .prevBtn {
            top: 20px;
            left: 15px;
          }
          h1 {
            font-size: 18px;
            margin-bottom: 20px;
          }
          h2 {
            margin-bottom: 30px !important;
          }
          .inputStyle {
            background: rgba(46, 147, 239, 0.3);
            border-radius: 14px;
            padding: 2px;
            overflow: hidden;
            margin-bottom: 15px;
            input {
              padding: 12px 20px;
              border-radius: 12px;
            }
          }
          .buttonStyle,
          .buttonStyleToo {
            button,
            div {
              padding: 12px !important;
              span {
                font-size: 16px !important;
              }
            }
          }
        }
      }
      .mainLoginImage {
        display: none;
      }
    }
    .mainLoginFooter {
      display: flex;
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
      p {
        width: 90%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .mainLogin {
    background: url("../../../public/images/loginBgXl.png");
    background-repeat: no-repeat;
    background-size: 100%;
    .mainLoginContent {
      .mainLoginForm {
        width: 100%;
        justify-content: center;
        form {
          padding: 20px 15px 15px;
          width: 65%;
          .prevBtn {
            top: 20px;
            left: 15px;
          }
          h1 {
            font-size: 18px;
            margin-bottom: 20px;
          }
          h2 {
            margin-bottom: 30px !important;
          }
          .inputStyle {
            background: rgba(46, 147, 239, 0.3);
            border-radius: 14px;
            padding: 2px;
            overflow: hidden;
            margin-bottom: 15px;
            input {
              padding: 12px 20px;
              border-radius: 12px;
            }
          }
          .buttonStyle,
          .buttonStyleToo {
            button,
            div {
              padding: 12px !important;
              span {
                font-size: 16px !important;
              }
            }
          }
        }
      }
      .mainLoginImage {
        display: none;
      }
    }
    .mainLoginFooter {
      display: flex;
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
      p {
        width: 90%;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .mainLogin {
    background: url("../../../public/images/loginBgXl.png");
    background-repeat: no-repeat;
    background-size: 100%;
    .mainLoginContent {
      .mainLoginForm {
        width: 100%;
        justify-content: center;
        form {
          padding: 20px 15px 15px;
          width: 60%;
          .prevBtn {
            top: 20px;
            left: 15px;
          }
          h1 {
            font-size: 18px;
            margin-bottom: 20px;
          }
          h2 {
            margin-bottom: 30px !important;
          }
          .inputStyle {
            background: rgba(46, 147, 239, 0.3);
            border-radius: 14px;
            padding: 2px;
            overflow: hidden;
            margin-bottom: 15px;
            input {
              padding: 12px 20px;
              border-radius: 12px;
            }
          }
          .buttonStyle,
          .buttonStyleToo {
            button,
            div {
              padding: 12px !important;
              span {
                font-size: 16px !important;
              }
            }
          }
        }
      }
      .mainLoginImage {
        display: none;
      }
    }
    .mainLoginFooter {
      display: flex;
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
      p {
        width: 90%;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1439.98px) {
  .mainLogin {
    .mainLoginContent {
      .mainLoginForm {
        width: 45%;
        form {
          padding: 20px 15px 15px;
          .prevBtn {
            top: 20px;
            left: 15px;
          }
          h1 {
            font-size: 18px;
            margin-bottom: 20px;
          }
          h2 {
            margin-bottom: 30px !important;
          }
          .inputStyle {
            background: rgba(46, 147, 239, 0.3);
            border-radius: 14px;
            padding: 2px;
            overflow: hidden;
            margin-bottom: 15px;
            input {
              padding: 12px 20px;
              border-radius: 12px;
            }
          }
          .buttonStyle,
          .buttonStyleToo {
            button,
            div {
              padding: 12px !important;
              span {
                font-size: 16px !important;
              }
            }
          }
        }
      }
      .mainLoginImage {
        width: 55%;
      }
    }
  }
}
