.replenish {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  .popUpProdBlock {
    width: 35%;
    background: white;
    border-radius: 25px;

    .popUpProdHeader {
      border-radius: 25px;
      padding: 30px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 25px 25px 0px 0px;
      background: #2e93ef1a;
      p {
        color: #4d9cf3;
        font-size: 24px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.1%;
        text-align: left;
      }

      button {
        border-radius: 50%;
        transition: 0.5s;
        &:hover {
          background: rgb(204, 240, 246);
        }
      }
    }

    .popUpProdContent {
      padding: 40px;

      .popupContentButton {
        background: linear-gradient(225deg, rgb(12, 94, 255), rgb(0, 180, 210));
        border-radius: 50px;
        padding: 2px;
        width: fit-content;
        margin: 0 auto;

        button {
          padding: 13px 60px;
          background: white;
          border-radius: 50px;
          transition: 0.5s;
          p {
            transition: all 0.5s;
            color: rgb(12, 94, 255);
            background: linear-gradient(225deg, rgb(12, 94, 255), rgb(0, 180, 210));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-size: 18px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: -0.1%;
            text-align: left;
          }
        }

        &:hover {
          button {
            background: transparent;
            p {
              background: none;
              -webkit-background-clip: border-box;
              background-clip: border-box;
              -webkit-text-fill-color: initial;
              color: white;
            }
          }
        }
      }

      .mainSelect {
        margin-bottom: 25px;
      }
      .buttonStyleToo {
        width: 80%;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 50px;
        margin-top: 40px;

        padding: 2px;
        background: linear-gradient(
                        158.2deg,
                        rgb(44, 115, 243) -103.971%,
                        rgb(48, 205, 231) 151.363%
        );
        button,
        div {
          cursor: pointer;
          width: 100%;
          transition: 0.5s;
          padding: 12px;
          border-radius: 50px;
          background: white;
          span {
            background: linear-gradient(236.49deg, rgb(34, 100, 220), rgb(0, 180, 210));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            font-size: 18px;
            transition: 0.5s;
            font-weight: 600;
            line-height: 120%;
            text-align: center;
          }
        }
        &:hover {
          button,
          div {
            background: transparent;
            span {
              background: none;
              -webkit-background-clip: border-box;
              background-clip: border-box;
              -webkit-text-fill-color: initial;
              color: white;
            }
          }
        }
      }

      .popUpProdContentQr {
        display: flex;
        align-items: center;
        flex-direction: column;
        .popUpProdContentQrBlock {
          width: 170px;
          height: 170px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 64px;
          margin-top: 39px;
          svg {
            width: 100%;
          }
        }

        .popUpProdContentQrInfo {
          width: 100%;
          padding-bottom: 35px;

          .popUpProdContentQrInfoItem {
            &:nth-child(2) {
              margin-top: 30px;
            }
            p {
              color: rgb(0, 0, 0);
              font-size: 16px;
              font-weight: 600;
              line-height: 20px;
              width: 100%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .popUpProdContentQrInfoItemBlock {
              margin-top: 13px;
              border: 2px solid rgba(46, 147, 239, 0.3);
              border-radius: 15px;
              padding: 18px 30px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 10px;

              span {
                color: #808080;
              }
            }
          }
          .timeLine {
            margin-top: 20px;
            text-align: center;
            .timeLineItem {
              height: 5px;
              background: rgb(234, 244, 253);
              .timeLineItemInfo {
                width: 90%;
                transition: 0.3s;
                background: rgb(148, 200, 247);
                height: 100%;
              }
            }
            .timeInfo {
              color: rgb(77, 156, 243);
              font-size: 18px;
              font-weight: 500;
              line-height: 20px;
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .replenish {
    .popUpProdBlock {
      width: 85%;
      .popUpProdHeader {
        padding: 15px 30px;
        p {
          font-size: 17px;
        }
      }
      .popUpProdContent {
        .mainInput {
          margin-top: 25px;
        }
        .mainSelect {
          margin-bottom: 15px;
        }
        padding: 24px;

        h4 {
          font-size: 13px;
          margin: 20px 0;
        }
        .popUpProdContentQr {
          flex-direction: column;
          .popUpProdContentQrBlock {
            width: 140px;
            height: 140px;
            margin: 39px 0 53px;
          }

          .popUpProdContentQrInfo {
            padding: 0;
            width: 100%;

            .popUpProdContentQrInfoItem {
              &:nth-child(2) {
                margin-top: 10px;
              }
              p {
                font-size: 12px;
                line-height: 13px;
              }

              .popUpProdContentQrInfoItemBlock {
                margin-top: 10px;
                padding: 13px;
                p {
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }
            .timeLine {
              margin-top: 10px;
              .timeInfo {
                font-size: 13px;
                margin-top: 8px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .replenish {
    .popUpProdBlock {
      width: 80%;
      .popUpProdHeader {
        padding: 20px 30px;
        p {
          font-size: 18px;
        }
      }
      .popUpProdContent {
        .mainInput {
          margin-top: 30px;
        }
        .mainSelect {
          margin-bottom: 15px;
        }
        padding: 25px;

        h4 {
          font-size: 13px;
          margin: 20px 0;
        }
        .popUpProdContentQr {
          flex-direction: column;
          .popUpProdContentQrBlock {
            width: 40%;
          }
          .popUpProdContentQrInfo {
            padding: 0 20px;
            width: 100%;

            .popUpProdContentQrInfoItem {
              &:nth-child(2) {
                margin-top: 10px;
              }
              p {
                font-size: 13px;
                line-height: 14px;
              }

              .popUpProdContentQrInfoItemBlock {
                margin-top: 10px;
                padding: 13px 15px;
              }
            }
            .timeLine {
              margin-top: 10px;
              .timeInfo {
                font-size: 15px;
                margin-top: 8px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .replenish {
    .popUpProdBlock {
      width: 85%;
      .popUpProdHeader {
        padding: 25px 35px;
        p {
          font-size: 22px;
        }
      }
      .popUpProdContent {
        padding: 30px;
        .mainInput {
          margin-top: 30px;
        }
        .mainSelect {
          margin-bottom: 15px;
        }

        h4 {
          font-size: 15px;
          margin: 30px 0;
        }
        .popUpProdContentQr {
          .popUpProdContentQrInfo {
            padding: 0 20px;

            .popUpProdContentQrInfoItem {
              &:nth-child(2) {
                margin-top: 10px;
              }
              p {
                font-size: 13px;
                line-height: 14px;
              }

              .popUpProdContentQrInfoItemBlock {
                margin-top: 10px;
                padding: 13px 15px;
              }
            }
            .timeLine {
              margin-top: 10px;
              .timeInfo {
                font-size: 15px;
                margin-top: 8px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .replenish {
    .popUpProdBlock {
      width: 45%;
      .popUpProdHeader {
        padding: 25px 35px;
        p {
          font-size: 22px;
        }
      }
      .popUpProdContent {
        padding: 25px;
        .mainInput {
          margin-top: 25px;
        }
        .mainSelect {
          margin-bottom: 15px;
        }

        h4 {
          font-size: 14px;
          margin: 30px 0;
        }
        .popUpProdContentQr {
          .popUpProdContentQrInfo {
            padding: 0 25px;

            .popUpProdContentQrInfoItem {
              &:nth-child(2) {
                margin-top: 16px;
              }
              p {
                font-size: 15px;
                line-height: 17px;
              }

              .popUpProdContentQrInfoItemBlock {
                margin-top: 10px;
                padding: 13px 25px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1439.98px) {
  .replenish {
    .popUpProdBlock {
      width: 40%;
      .popUpProdHeader {
        padding: 25px 35px;
        p {
          font-size: 22px;
        }
      }
      .popUpProdContent {
        padding: 30px;
        .mainInput {
          margin-top: 30px;
        }
        .mainSelect {
          margin-bottom: 15px;
        }

        h4 {
          font-size: 15px;
          margin: 30px 0;
        }
        .popUpProdContentQr {
          .popUpProdContentQrInfo {
            padding: 0 30px;

            .popUpProdContentQrInfoItem {
              &:nth-child(2) {
                margin-top: 25px;
              }
              p {
                font-size: 16px;
                line-height: 18px;
              }

              .popUpProdContentQrInfoItemBlock {
                margin-top: 10px;
                padding: 15px 28px;
              }
            }
          }
        }
      }
    }
  }
}
