.resetPassword {
  width: 80%;

  .mainClassname {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;

    .prevBtn {
      display: flex;
      position: absolute;
      left: 0;
    }
  }
  .inputStyle {
    position: relative;

    img {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  > p {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
  }
  .errors {
    top: 140px !important;
  }
  .codeInputs {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    .codeInput {
      padding: 2px;
      background: rgba(46, 147, 239, 0.3);
      margin: 0 8px;
      border-radius: 14px;
      overflow: hidden;
      &:focus-within {
        background: linear-gradient(225deg, rgb(12, 94, 255), rgb(0, 180, 210) 100%);
      }
      input {
        border-radius: 12px;
        overflow: hidden;
        padding: 12px 17px;
        color: rgb(14, 26, 50);
        font-size: 26px;
        font-weight: 500;
        width: 50px;
        background: white;
      }
    }
    .codeInput.error {
      background: rgb(229, 92, 92) !important;
    }
  }

  .dis {
    opacity: 0.5;
    pointer-events: none;
  }
}

@media (max-width: 575.98px) {
  .resetPassword {
    .errors {
      top: 89px !important;
    }
  }
  #email {
    .errors {
      top: 107px !important;
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .resetPassword {
    .errors {
      top: 95px !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .resetPassword {
    .errors {
      top: 95px !important;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .resetPassword {
    .errors {
      top: 95px !important;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1439.98px) {
  .resetPassword {
    .errors {
      top: 95px !important;
    }
  }
}
