.userInfo {
  text-align: left;
  .mobileWrapper {
    display: flex;
    flex-direction: column;

    .mobileWrapperInside {
      flex-direction: column;
    }
  }
  .userInfoImage {
    display: flex;
    align-items: center;
    h3 {
      font-size: 18px;
      font-weight: 600;
      line-height: 21.94px;
      color: #0e1a32;
    }
    img {
      object-fit: contain;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-right: 16px;
    }
    padding-bottom: 25px;
    border-bottom: 2px solid rgb(192, 223, 250);
    margin-bottom: 25px;
  }
  .userInfoCreate {
    padding-bottom: 25px;
    border-bottom: 2px solid rgb(192, 223, 250);
    margin-bottom: 25px;
    h4 {
      font-size: 16px;
      font-weight: 300;
      line-height: 23px;
      color: #636d80;
      margin-bottom: 25px;
      text-align: left;
    }
    .userInfoCreateList {
      display: flex;
      margin-top: 15px;
      align-items: center;
      justify-content: space-between;

      p {
        color: rgb(29, 29, 32);
        font-size: 16px;
        font-weight: 400;
        line-height: 16.64px;
        text-decoration-skip-ink: none;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50%;
        text-align: left;

        &:first-child {
          color: #1d1d20b2;
        }

        &:last-child {
          color: #171723;
        }
      }
      a {
        color: rgb(68, 183, 255);
        font-size: 16px;
        font-weight: 400;
        width: 50%;
        text-align: left;
        line-height: 16.64px;
        text-decoration-line: underline;
      }
    }
  }

  .payments {
    border-bottom: 2px solid rgb(192, 223, 250);
    margin-bottom: 11px;
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 21.06px;
      letter-spacing: -0.01em;
      color: #000000;
      margin-bottom: 15px;
    }
    .userInfoCreateList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      button {
        padding: 5px 15px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 40px;
        border: 1px solid rgba(0, 180, 210, 0.3);
        color: rgba(52, 142, 241, 1);
      }
    }
  }
  .userInfoPrice {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 2px solid rgb(192, 223, 250);
    margin-bottom: 25px;
    .userInfoPriceItem {
      &:first-child {
        margin-right: 50px;
      }
      span {
        color: rgba(14, 26, 50, 0.4);
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
      }
      p {
        color: rgb(14, 26, 50);
        font-size: 24px;
        font-weight: 600;
        line-height: 100%;
      }
    }
  }
  .hastagsWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    p {
      font-size: 14px;
      font-weight: 400;
      color: #0e1a3266;
      margin-bottom: 8px;
    }
  }
  .hashtags {
    display: flex;
    flex-wrap: wrap;
    .hashtag {
      margin-top: 5px;
      padding: 5px 15px;
      border: 1px solid rgb(0, 180, 210);
      border-radius: 40px;
      color: rgb(0, 180, 210);
      margin-right: 5px;
      white-space: nowrap;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .buttonStyle {
    overflow: hidden;
    border-radius: 50px;
    padding: 2px;
    background: linear-gradient(
                    158.2deg,
                    rgb(44, 115, 243) -103.971%,
                    rgb(48, 205, 231) 151.363%
    );
    margin-top: 34px;
    button {
      cursor: pointer;
      width: 100%;
      transition: 0.5s;
      padding: 15px;
      border-radius: 50px;
      background: transparent;
      span {
        background: none;
        -webkit-background-clip: border-box;
        background-clip: border-box;
        -webkit-text-fill-color: initial;
        color: white;
        font-size: 20px;
        transition: 0.5s;
        font-weight: 600;
        line-height: 120%;
        text-align: center;
      }
    }
    &:hover {
      button {
        background: white;
        span {
          background: linear-gradient(236.49deg, rgb(34, 100, 220), rgb(0, 180, 210));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
        }
      }
    }
  }

  .prodInfoCardWrapper {
    margin-top: 25px;
    width: 315px;

    h2 {
      font-size: 18px;
      font-weight: 700;
      line-height: 21.94px;
      color: #000000;
      margin-bottom: 16px;
    }
    .download {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        margin-left: 25px;
      }
      margin-bottom: 40px;
    }
    .buttonStyleToo {
      overflow: hidden;
      border-radius: 15px;
      padding: 2px;
      background: linear-gradient(
                      158.2deg,
                      rgb(44, 115, 243) -103.971%,
                      rgb(48, 205, 231) 151.363%
      );
      button,
      div {
        cursor: pointer;
        width: 100%;
        transition: 0.5s;
        padding: 9px;
        border-radius: 13px;
        background: white;
        span {
          background: linear-gradient(236.49deg, rgb(34, 100, 220), rgb(0, 180, 210));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
          font-size: 18px;
          transition: 0.5s;
          font-weight: 600;
          line-height: 120%;
          text-align: center;
        }
      }
      &:hover {
        button,
        div {
          background: transparent;
          span {
            background: none;
            -webkit-background-clip: border-box;
            background-clip: border-box;
            -webkit-text-fill-color: initial;
            color: white;
          }
        }
      }
    }
  }
  p {
    &:first-child {
      margin: 0;
    }
    span {
      font-weight: bold;
    }
  }
}
@media (max-width: 575.98px) {
  .userInfo {
    > div {
      border: none !important;
      padding: 0 !important;
    }
    .mobileWrapper {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 2px solid rgb(192, 223, 250);
      padding-bottom: 24px;
      margin-top: 24px;
    }

    .infoCreate {
      padding-bottom: 0;
    }
    .payments {
      border-bottom: none;

      .userInfoCreateList {
        button {
          font-size: 14px;
        }
      }

      p {
        font-size: 14px;
      }
    }

    .prodInfoCardWrapper {
      margin-top: 0;
      h2 {
        font-size: 14px;
      }
      p {
        font-size: 14px;
        margin-top: 4px;
      }
    }

    .hastagsWrapper {
      margin-bottom: 24px;
    }

    .userInfoPrice {
      border-bottom: none;
    }

    .userInfoImage {
      h3 {
        font-size: 12px;
      }
      img {
        width: 40px;
        height: 40px;
        margin-right: 6px;
      }
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .userInfoCreate {
      padding-bottom: 10px;
      margin-bottom: 10px;
      width: 100%;
      h4 {
        font-size: 12px;
        margin-bottom: 15px;
      }
      .userInfoCreateList {
        p {
          font-size: 12px;
        }
        a {
          font-size: 12px;
        }
      }
    }
    .userInfoPrice {
      padding-bottom: 15px;
      margin-bottom: 15px;
      .userInfoPriceItem {
        &:first-child {
          margin-right: 10px;
        }
        span {
          font-size: 9px;
        }
        p {
          font-size: 15px;
          margin-top: 5px;
        }
      }
    }
    .hashtags {
      .hashtag {
        font-size: 10px;
        padding: 3px 8px;
      }
    }
    .buttonStyle {
      position: fixed;
      z-index: 999;
      bottom: 20px;
      width: calc(100% - 30px);
      transform: translateX(-50%);
      left: 50%;
      margin-top: 40px;
      button {
        padding: 10px;
        span {
          font-size: 17px;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .userInfo {
    > div {
      border: none !important;
      padding: 0 !important;
    }
    .mobileWrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 2px solid rgb(192, 223, 250);
      padding-bottom: 24px;
      margin-top: 24px;
    }

    .infoCreate {
      padding-bottom: 0;
      flex-direction: column;
    }
    .payments {
      border-bottom: none;

      p {
        font-size: 14px;
      }
    }

    .prodInfoCardWrapper {
      h2 {
        font-size: 14px;
      }
      p {
        font-size: 14px;
      }
    }

    .userInfoPrice {
      border-bottom: none;
    }
    .userInfoImage {
      h3 {
        font-size: 15px;
      }
      img {
        width: 63px;
        height: 63px;
        margin-right: 10px;
      }
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    .userInfoCreate {
      padding-bottom: 15px;
      margin-bottom: 15px;
      width: 100%;
      h4 {
        font-size: 15px;
        margin-bottom: 15px;
      }
      .userInfoCreateList {
        margin-top: 8px;
        button {
          font-size: 14px;
        }
        p {
          font-size: 14px;
        }
        a {
          font-size: 14px;
        }
      }
    }
    .userInfoPrice {
      padding-bottom: 15px;
      margin-bottom: 15px;
      .userInfoPriceItem {
        &:first-child {
          margin-right: 20px;
        }
        span {
          font-size: 13px;
        }
        p {
          font-size: 20px;
          margin-top: 5px;
        }
      }
    }
    .hashtags {
      .hashtag {
        padding: 5px 13px;
      }
    }
    .buttonStyle {
      position: fixed;
      z-index: 999;
      bottom: 20px;
      width: calc(100% - 50px);
      transform: translateX(-50%);
      left: 50%;
      margin-top: 40px;
      button {
        padding: 10px;
        span {
          font-size: 17px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .userInfo {
    > div {
      border: none !important;
      padding: 0 !important;
    }
    .mobileWrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 2px solid rgb(192, 223, 250);
      padding-bottom: 24px;
      margin-top: 24px;
    }

    .infoCreate {
      padding-bottom: 0;
    }
    .payments {
      border-bottom: none;

      p {
        font-size: 14px;
      }
    }

    .prodInfoCardWrapper {
      h2 {
        font-size: 14px;
      }
      p {
        font-size: 14px;
      }
    }

    .userInfoPrice {
      border-bottom: none;
    }
    .userInfoImage {
      border-bottom: 0;
      h3 {
        font-size: 15px;
      }
      img {
        width: 63px;
        height: 63px;
        margin-right: 10px;
      }
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    .userInfoCreate {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: none;
      width: 40%;
      h4 {
        font-size: 14px;
        margin-bottom: 15px;
      }
      .userInfoCreateList {
        margin-top: 8px;
        button {
          font-size: 14px;
        }
        p {
          font-size: 14px;
        }
        a {
          font-size: 14px;
        }
      }
    }
    .userInfoPrice {
      padding-bottom: 15px;
      margin-bottom: 15px;
      .userInfoPriceItem {
        &:first-child {
          margin-right: 20px;
        }
        span {
          font-size: 13px;
        }
        p {
          font-size: 20px;
          margin-top: 5px;
        }
      }
    }
    .hashtags {
      .hashtag {
        padding: 5px 13px;
      }
    }
    .buttonStyle {
      position: fixed;
      z-index: 999;
      bottom: 20px;
      width: calc(100% - 50px);
      transform: translateX(-50%);
      left: 50%;
      margin-top: 40px;
      button {
        padding: 10px;
        span {
          font-size: 17px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .userInfo {
    > div {
      border: none !important;
      padding: 0 !important;
    }
    .mobileWrapper {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 2px solid rgb(192, 223, 250);
      padding-bottom: 24px;
      margin-top: 24px;
    }

    .prodInfoCardWrapper {
      h2 {
        font-size: 14px;
      }

      p {
        font-size: 14px;
      }
    }

    .userInfoImage {
      h3 {
        font-size: 15px;
      }
      img {
        width: 63px;
        height: 63px;
        margin-right: 10px;
      }
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    .userInfoCreate {
      padding-bottom: 15px;
      margin-bottom: 15px;
      width: 100%;
      h4 {
        font-size: 15px;
        margin-bottom: 15px;
      }
      .userInfoCreateList {
        margin-top: 8px;
        button {
          font-size: 14px;
        }
        p {
          font-size: 14px;
        }
        a {
          font-size: 14px;
        }
      }
    }
    .userInfoPrice {
      padding-bottom: 15px;
      margin-bottom: 15px;
      .userInfoPriceItem {
        span {
          font-size: 13px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .hashtags {
      .hashtag {
        padding: 5px 13px;
      }
    }
    .buttonStyle {
      margin-top: 40px;
      button {
        padding: 10px;
        span {
          font-size: 16px;
        }
      }
    }
  }
}
