.isSuccessful {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 9999999;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  .isSuccessfulContent {
    width: 25%;
    padding: 40px;
    border-radius: 25px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    img {
      width: 120px;
    }
    h3 {
      font-size: 25px;
      font-weight: 600;
      color: #31d0aa;
      line-height: 40px;
    }
    p {
      font-size: 16px;
      margin-top: 15px;
      font-weight: 500;
      line-height: 40px;
    }
    .buttonStyleToo {
      margin-top: 40px;
      overflow: hidden;
      border-radius: 50px;
      width: 100%;
      padding: 2px;
      background: linear-gradient(
                      158.2deg,
                      rgb(44, 115, 243) -103.971%,
                      rgb(48, 205, 231) 151.363%
      );
      button,
      div {
        cursor: pointer;
        width: 100%;
        transition: 0.5s;
        padding: 15px;
        border-radius: 50px;
        background: white;
        span {
          background: linear-gradient(236.49deg, rgb(34, 100, 220), rgb(0, 180, 210));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
          font-size: 18px;
          transition: 0.5s;
          font-weight: 600;
          line-height: 120%;
          text-align: center;
        }
      }
      &:hover {
        button,
        div {
          background: transparent;
          span {
            background: none;
            -webkit-background-clip: border-box;
            background-clip: border-box;
            -webkit-text-fill-color: initial;
            color: white;
          }
        }
      }
    }
  }
  .failed {
    h3 {
      color: #e55c5c;
    }
  }
}

@media (max-width: 575.98px) {
  .isSuccessful {
    .isSuccessfulContent {
      width: 80%;
      padding: 20px;
      img {
        width: 100px;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 18px;
        line-height: 30px;
      }
      p {
        font-size: 11px;
        margin-top: 10px;
        line-height: 10px;
      }
      .buttonStyleToo {
        margin-top: 20px;
        button,
        div {
          padding: 8px;
          span {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .isSuccessful {
    .isSuccessfulContent {
      width: 50%;
      padding: 20px;

      img {
        width: 100px;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 20px;
        line-height: 30px;
      }
      p {
        font-size: 12px;
        margin-top: 10px;
        line-height: 30px;
      }
      .buttonStyleToo {
        margin-top: 20px;

        button,
        div {
          padding: 8px;
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .isSuccessful {
    .isSuccessfulContent {
      width: 44%;
      padding: 40px;
      img {
        width: 100px;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 22px;
        line-height: 30px;
      }
      p {
        font-size: 13px;
        margin-top: 10px;
        line-height: 13px;
      }
      .buttonStyleToo {
        margin-top: 30px;

        button,
        div {
          padding: 10px;
          span {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .isSuccessful {
    .isSuccessfulContent {
      width: 35%;
      h3 {
        font-size: 24px;
        line-height: 30px;
      }
      p {
        font-size: 14px;
        margin-top: 10px;
        line-height: 30px;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1439.98px) {
  .isSuccessful {
    .isSuccessfulContent {
      width: 30%;
    }
  }
}
